!!! 5
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='assets/css/bootstrap.min.css')
		link(rel='stylesheet', href='assets/css/crimson.css')
		title crimson
	body
		.display.dis-load.hide
			.notice
				p Connecting
				.throbber
					span#t1
					span#t2
					span#t3
		.display.dis-auth.hide
			.notice
				p
					strong Authorization required!
				button.btn.btn-primary.btn-small#authorize Authorize with Heello
		.display.dis-fatal.hide
			.notice
				h4
					strong Critical error!
				hr
				p#errormsg EUNKNOWN
		.display.dis-client.hide
			span.nib
			.l.top
				.whoami
					img.avatar(src='https://d2trw7474qpa0b.cloudfront.net/katana/thumb.jpg?1aa31f75916f1e69c17373b3087399b3', alt='thumb', title='Logged in as @katana')
			.r.top
				header
					textarea#pingText(placeholder="What's going on?")
					// todo: turn into proper form

				.toolbar
					span#charcount.length
					.btn-group
						button.btn.btn-small.btn-info#private(data-toggle='button')
							i.icon-lock.icon-white
						button.btn.btn-small.btn-info#ping ping
					//span upload


			.l.bottom
				nav
					ul.top
						li.home home
						li.notify notify
						li.profile profile
						li.search search
					ul.bottom
						li.settings setting
						li.logout logout
			.r.bottom
				.corner
					.inside
				.main
					.column.col-home
						.entry.ping
							.ping-profile
								img.avatar(src='https://d2trw7474qpa0b.cloudfront.net/heello/thumb.jpg?478a4b79f06e00992983fef0ed95d54c', alt='thumb')
							.post
								.meta
									span.who
										a(href='#') @heello
									span.time &nbsp;21 mins
								p Example ping text
							.controls
								a(href='#')
									i.icon-share-alt
								a(href='#')
									i.icon-random
						.entry.ping
							.ping-profile.mentioned
								img.avatar(src='https://d2trw7474qpa0b.cloudfront.net/heello/thumb.jpg?478a4b79f06e00992983fef0ed95d54c', alt='thumb')
							.post
								.meta
									a.who(href='#') @heello
									span.time &nbsp;14 mins
								p This ping mentions you! - &nbsp;
									a.who(href='#') @katana
							.controls
								button.btn.btn-mini.reply(href='#')
									i.icon-share-alt
								button.btn.btn-mini.reping(href='#')
									i.icon-random
						.entry.ping.reping
							.ping-profile
								img.avatar(src='https://d2trw7474qpa0b.cloudfront.net/heello/thumb.jpg?478a4b79f06e00992983fef0ed95d54c', alt='thumb')
							.reping-profile.self
								img.avatar(src='https://d2trw7474qpa0b.cloudfront.net/katana/thumb.jpg?1aa31f75916f1e69c17373b3087399b3', alt='thumb')
							.post
								.meta
									a.who(href='#') @heello
									span.time &nbsp;13 mins
								p This is something you repinged!
							.controls
								button.btn.btn-mini.reply
									i.icon-share-alt
								button.btn.btn-mini.delete
									i.icon-remove
						.entry.ping.reping
							.ping-profile.self
								img.avatar(src='https://d2trw7474qpa0b.cloudfront.net/katana/thumb.jpg?1aa31f75916f1e69c17373b3087399b3', alt='thumb')
							.reping-profile
								img.avatar(src='https://d2trw7474qpa0b.cloudfront.net/heello/thumb.jpg?478a4b79f06e00992983fef0ed95d54c', alt='thumb')
							.post
								.meta
									a.who(href='#') @katana
									span.time &nbsp;13 mins
								p Someone repinged you!
						.entry.ping
							.ping-profile.self
								img.avatar(src='https://d2trw7474qpa0b.cloudfront.net/katana/thumb.jpg?1aa31f75916f1e69c17373b3087399b3', alt='thumb')
							.post
								.meta
									a.who(href='#') @katana
									span.time &nbsp;12 mins
								p This ping is by you!
							.controls
								button.btn.btn-mini.delete
									i.icon-remove
						.stretch &nbsp;
				footer
					span#version
					script(src='assets/js/jquery.min.js')
					script(src='assets/js/jquery.hotkeys.js')
					script(src='assets/js/bootstrap.min.js')
					script(src='assets/js/client.js')

