!!! 5
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='assets/css/bootstrap.min.css')
		link(rel='stylesheet', href='assets/css/crimson.css')
		title crimson
	body
		.client.hide
			span.nib
			.l.top
				.whoami(title='Logged in as @Katana')
					img.avatar(src='https://d2trw7474qpa0b.cloudfront.net/katana/thumb.jpg?1aa31f75916f1e69c17373b3087399b3', alt='thumb', title='Logged in as @Katana')
			.r.top
				header
					textarea#pingText(placeholder="What's going on?")
					// todo: turn into proper form

				.toolbar
					span#charcount.length
					span upload
					span ping
					span private?

			.l.bottom
				nav
					ul
						li home
						li notify
						li search
						li profile
						li setting
						li logout
			.r.bottom
				.corner
					.inside
				.main
					.entry
						.ping
							.body
								.profile
									img.avatar(src='https://d2trw7474qpa0b.cloudfront.net/katana/thumb.jpg?1aa31f75916f1e69c17373b3087399b3', alt='thumb')
								.post
									.meta
										span.who
											a(href='#') @katana
										span.time &nbsp;21 mins
									p Example ping text
							.controls.hide
								span.reply a
								span.repeat b
					.entry
						.ping
							.body
								.profile
									img.avatar(src='https://d2trw7474qpa0b.cloudfront.net/katana/thumb.jpg?1aa31f75916f1e69c17373b3087399b3', alt='thumb')
								.post
									.meta
										span.who
											a(href='#') @katana
										span.time &nbsp;15 mins
									p Example ping text 2
							.controls.hide
								span.reply a
								span.repeat b
					.stretch &nbsp;
				footer
					span#version
					script(src='assets/js/jquery.min.js')
					script(src='assets/js/bootstrap.min.js')
					script(src='assets/js/crimson.js')
					script(src='assets/js/ui.js')

