!!! 5
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='assets/css/bootstrap.min.css')
		link(rel='stylesheet', href='assets/css/crimson.css')
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/jquery.hotkeys.js')
		script(src='assets/js/jquery.relatize_date.js')
		script(src='assets/js/bootstrap.min.js')
		script(src='assets/js/crimson/global.js')
		script(src='assets/js/crimson/client.js')
		title crimson
	body.client
		.display.dis-load.hide
			.notice
				p Connecting
				.throbber
					span#t1
					span#t2
					span#t3
		.display.dis-fatal.hide
			.notice
				h4
					strong Critical error!
				hr
				p#errormsg EUNKNOWN
		.display.dis-client.hide
			header
				.whoami.nullAvatar#avatar
				.inputbox
					textarea.scroll#tweetText(placeholder="What's happening?",rows="2")
					// todo: turn into proper form
					.toolbar
						span#charcount.length
						button.btn.btn-small.btn-info#tweet tweet
			.l
				nav
					ul.top
						li.home
							span
						li.notify
							span
						li.profile
							span
						li.search
							span
					ul.bottom
						li.settings
							span
						li.logout
							span
			.r
				.corner
					.inside
				.timeline.scroll
					.col-head
						// to be used for displaying user profiles? alerts?
					.entries
						.entry.tweet
							.profile
								img.avatar(src='https://si0.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx_bigger.png', alt='thumb')
							.post
								.meta
									a.who(href='#') @twitter
									span.time &nbsp;21 mins
								p Example tweet
							.controls
								a(href='#')
									i.icon-share-alt
								a(href='#')
									i.icon-random
						.entry.tweet.mention
							.profile
								img.avatar(src='https://si0.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx_bigger.png', alt='thumb')
							.post
								.meta
									a.who(href='#') @twitter
									span.time &nbsp;14 mins
								p This ping mentions you! - &nbsp;
									a.who(href='#') @burningcrimson
							.controls
								a(href='#')
									i.icon-share-alt
								a(href='#')
									i.icon-random
						.entry.tweet.retweet
							.profile
								img.avatar(src='https://si0.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx_bigger.png', alt='thumb')
							.m-profile.own
								img.avatar(src='https://si0.twimg.com/profile_images/378800000384263050/12c04d4f6e881ceebf5721e3d1290fd7_normal.png', alt='thumb')
							.post
								.meta
									a.who(href='#') @twitter
									span.time &nbsp;13 mins
								p This is something you retweeted!
							.controls
								a(href='#')
									i.icon-share-alt
								a(href='#')
									i.icon-remove
						.entry.tweet.retweet.own
							.profile
								img.avatar(src='https://si0.twimg.com/profile_images/378800000384263050/12c04d4f6e881ceebf5721e3d1290fd7_normal.png', alt='thumb')
							.m-profile
								img.avatar(src='https://si0.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx_bigger.png', alt='thumb')
							.post
								.meta
									a.who(href='#') @katana
									span.time &nbsp;13 mins
								p Someone retweeted you!
						.entry.tweet.own
							.profile.self
								img.avatar(src='https://si0.twimg.com/profile_images/378800000384263050/12c04d4f6e881ceebf5721e3d1290fd7_normal.png', alt='thumb')
							.post
								.meta
									a.who(href='#') @katana
									span.time &nbsp;12 mins
								p This tweet is by you!
							.controls
								a(href='#')
									i.icon-remove
						.stretch &nbsp;
				footer
					span#version
