body {
	//margin: 10px;
	//height: 100%;
	//background-color: #030308;
	//font-family: "Inconsolata", "Droid Sans Mono Slashed", "Droid Sans Mono", monospace;
}

@globalPadding: 5px;
@headerHeight: 80px;
@footerHeight: 20px;
@navWidth: 60px;

header, footer, .main, body>.l, body>.r {
	overflow: hidden;
	position: absolute;
}

body>.l, body>.r {
	top: 0;
	bottom: 0;
	height: 100%;
}

header, .main, footer {
	left: 0;
	right: 0;
}

body>.l {
	width: @navWidth;
	left: 0;
	paddding-left: @globalPadding;
	background-color: #5FE550;
}

body>.r {
	left: @navWidth;
	right: 0;
	padding-right: @globalPadding;
}

header {
	height: @headerHeight;
	top: 0;
	padding-top: @globalPadding;
	background-color: #4F71E2;
}

.main {
	top: @headerHeight;
	bottom: @footerHeight;
}

footer {
	height: @footerHeight;
	bottom: 0;
	padding-bottom: @globalPadding;
	font-size: 11px;
	font-weight: bold;
}

nav {
	//background-color: #5FE550;
}

img.whoami {
	@size: 60px;
	border-radius: 32.5px 32.5px 32.5px 32.5px;
	width: @size;
	height: @size;
}
